
@media only screen and (min-width:30em) { /* 480px  */

/* ----------  HEADER ----------*/

#branding {
	height: 90px;
}
#logo h1 {
	width: 290px;
	height: 80px;
	background: url(images/mip_logo.svg) 0 0 no-repeat;
	background-size: 230px;
	margin: 9px 0px 0px 10px;
}
#main-menu-5t {
	top: 90px;
}

/* ----------- MOBILE NAV TOGGLE ---------- */

#nav-toggle {
	top: 20px;
	right: 20px;
	width: 45px;
	height: 25px;
	padding:20px 0px 0px 10px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  height: 5px;
  width: 35px;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}

/* ----------  SIDEBAR ----------*/

#sidebar{
	width:350px;
	top:90px;
}
#sidebar .tab-container {
  padding: 15px 0px 0px 20px;
}
#sidebar .tabs {
	height:70px;
}
#sidebar .tabs a{
	height:50px;
	width:115px;
	padding:20px 0px 0px 60px;
	background-size: 40px;
	background-position:15px 15px;
	font-size:1em;
	line-height:1.1em;
}

/* ----------  Box Trip planner ----------*/

#otp-planner-optionsWidget {
	font-size:1em;
}
#otp-planner-optionsWidget-locSelector-reverseButton {
	background-size:35px;
	height: 30px;
	width: 30px;
}
#otp-planner-optionsWidget .address-fields .field label{
	font-size:1.1em;
	padding:6px 0px 0px 0px;
	width:30px;
}
#otp-planner-optionsWidget .address-fields .field input{
	height:26px;
	padding:0px 0px 0px 50px;
}
#otp-planner-optionsWidget-timeSelector-timeSelector select {
	width: 90px;
	background-position: right 1px;
}
#otp-planner-optionsWidget-timeSelector-date{
	padding: 0px 5px;
}
#otp-planner-optionsWidget-timeSelector-timeSelector select,
#otp-planner-optionsWidget-timeSelector-timeSelector input{
	margin: 0px 15px 0px 0px;
}

/* ----------  MAP ----------*/

#map{
		left:350px;
		top:90px;
}

}

@media only screen and (min-width:60em) { /* 960px  */

.main-menu-container{
	position:absolute;
	top:15px;
	right:40px;	
}	
#main-menu-5t {
	position:static;
	width:100%;
	height:100%;
	background-color:transparent;
}
#main-menu-5t li {
	display:inline;
	float: left;
	margin-left: 8px
}
#main-menu-5t li a {
	font-weight: 600;
	line-height: 28px;
	height: 50px;
	padding: 0 13px;
	display: block;
	color: #999;
	text-transform: uppercase;
	font-size:1em;
}
#main-menu-5t li.active a, #main-menu-5t a:hover {
	border-bottom: 5px solid #1b69b2;
	background-color:#fff;
	color: #222;
}
#main-menu-5t .active a {
	background: #fe9b25
}
#nav-toggle {
	display: none;
}

}

@media only screen and (min-width:80em) { /* 1280px */
	 
#main-menu-5t {
	display: block;
	right: 40px;
	font-size: 1.1em;
}


}

