
@media only screen and (min-width:30em) { /* 480px  */





/* ----------  TABS ----------*/

#sidebar .tabs {
	height:70px;
}
#sidebar .tabs a,#sidebar .tabs span{
	height:70px;
	padding:30px 0px 0px 60px;
	background-size: 50px;
	background-position:15px 15px;
	font-size:1.2em;
	line-height:1.1em;
	padding-left:75px;
}
#sidebar .tab1 .top,
#sidebar .tab2 .top,{
	padding:0px 0px 0px 20px;
}

/* ----------  Box Trip planner ----------*/

#otp-planner-optionsWidget {
	font-size:1em;
	padding:0px 0px 0px 10px;
}
.traffic .top{padding-left:20px}

#sidebar .otp-widget .filtroEvt{
	width:95%;
}

#otp-planner-optionsWidget-locSelector-reverseButton {
	background-size:35px;
	height: 30px;
	width: 30px;
}
#otp-planner-optionsWidget .address-fields .field label{
	font-size:1.1em;
	padding:6px 0px 0px 0px;
	width:30px;
}
#otp-planner-optionsWidget .address-fields .field input{
	height:26px;
	padding:0px 0px 0px 50px;
}
#otp-planner-optionsWidget-timeSelector-timeSelector select {
	width: 133px;
	background-position: right 1px;
}
#otp-planner-optionsWidget-timeSelector-date{
	padding: 0px 5px;
}
#otp-planner-optionsWidget-timeSelector-timeSelector select,
#otp-planner-optionsWidget-timeSelector-timeSelector input{
	margin: 0px 15px 0px 0px;
}

/* ----------  MAP ----------*/
/*
#map{
		left:350px;
		top:75px;
}*/

.findplace input{
	width:69%;
	padding-left:25%;
}

strong.trigger-option{
	top:92px;

}

#tripmode li label{
	_width:130px;
}
#bikeshare-stationsWidget{display:block}
.pick_drop_container {display: none}



}

@media only screen and (min-width:60em) { /* 960px  */ /*---------------------------------------------------------------------*/
	
	/* ----------  HEADER ----------*/

	#branding {
		height: 75px;
	}
	#logo {
		height:75px;
		background-size:40px;
		background-position:20px 18px;
		padding-left:85px;
		/*width: 80px;
		height: 80px;
		background: url(images/5t/bike/logo.gif) 0 0 no-repeat;
		/*background-size: 230px;*/
		/*margin: 9px 0px 0px 10px;*/
	}
	#logo h1 {
		height: 55px;
		padding:20px 0 0 25px;
		font-size:3em;
	}
	#main-menu-5t {
		top: 75px;
	}
	
	
	/* ----------- MOBILE NAV TOGGLE ---------- */

	#nav-toggle {
		top: 15px;
		right: 20px;
		width: 45px;
		height: 25px;
		padding:20px 0px 0px 10px;
	}
	#nav-toggle span,
	#nav-toggle span:before,
	#nav-toggle span:after {
	  height: 5px;
	  width: 35px;
	}
	#nav-toggle span:before {
	  top: -10px;
	}
	#nav-toggle span:after {
	  bottom: -10px;
	}

	.language-switcher {top:115px;}
	.language-switcher.active {right:20px;left:auto;}

	/* ----------  SIDEBAR ----------*/

	#sidebar{
		width:350px;
		top:75px;
	}
	#sidebar.closed{left:-340px;}

	
	/* ----------  MAP ----------*/
	
	#map{
			left:350px;
			top:75px;
	}
	
	
	
	
.pick_drop_container {display: block}
.main-menu-container{
	position:absolute;
	top:15px;
	right:355px;	
}	
#main-menu-5t {
	position:static;
	width:100%;
	height:100%;
	background-color:transparent;
	float:left;
	padding:8px 0 0 0;
}
#main-menu-5t li {
	display:inline;
	float: left;
	margin-left: 8px
}
#main-menu-5t li a {
	font-weight: 600;
	line-height: 28px;
	height: 28px;
	padding: 0 13px;
	display: block;
	color: #fff;
	text-transform: uppercase;
	font-size:1em;
	background: #9bc635 none repeat scroll 0 0;
    border: 1px solid #a6cd49;
    border-radius: 4px;
}
#main-menu-5t li.active a, #main-menu-5t a:hover {
	background: #96c032 none repeat scroll 0 0;
    border-color: #a0c742;
}
#main-menu-5t .active a {
	background: #fe9b25
}

#branding.full-height {
	height:auto;
}

.loghi-container{display:block;width:336px;height:75px;float:right;position:absolute;top:0;right:0;background:url(images/5t/bike/bg-loghi.png) 0 0 no-repeat;z-index:10000;}
	.loghi-container a{background-position:0 0;background-repeat:no-repeat;display:block;position:absolute;text-indent:-9999px;line-height:0;font-size:0}
	.loghi-container .logo-1{top:20px;right:128px;width:144px;height:42px;background-image:url(images/5t/bike/logo-citta-torino.gif)}
	.loghi-container .logo-2{top:17px;right:21px;width:95px;height:42px;background-image:url(images/5t/bike/logo-torino-metropoli.png)}
	.loghi-container a:hover{opacity:0.9}




#nav-toggle {
	display: none;
}

.language-switcher{top:9px;right:-40px;left:auto;}

.powered-by{
	right: 0;
	bottom: 20px;
}

#tripmode {margin-top:15px;}
#tripmode li label{
	width:147px;
	font-weight: bold;
}





}

@media only screen and (min-width:80em) { /* 1280px */
	 
#main-menu-5t {
	display: block;
	right: 40px;
	font-size: 1.1em;
}



}

